h1 Neural Classifier
.row
  .jumbotron.col-md-4

    h3 Neurone
    table.table.table-hover
      th
        h5 nubmer of samples
      th
        h5 learning rate {{learningRate}}

      tr
        td
          input.form-control.input-sm(type="number", ng-model="samplesNumber")
        td
          input.form-control.input-sm(type="range", min="0.01", max="1", step="0.01", ng-model="learningRate")
        td
          button.btn(type="button", ng-click="train()") train

    h4 Number of iterations: {{iterationsCount}}

  .jumbotron.col-md-7.col-md-offset-1
    h3 Data
    table.table.table-hover
      th
        h5 points
      th
        h5 minX
      th
        h5 maxX
      th
        h5 minY
      th
        h5 maxY
      th
        h5 discrete

      tr
        td
          input.form-control.input-sm(type="number", ng-model="numberOfPoints")
        td
          input.form-control.input-sm(type="number", ng-model="minX")
        td
          input.form-control.input-sm(type="number", ng-model="maxX")
        td
          input.form-control.input-sm(type="number", ng-model="minY")
        td
          input.form-control.input-sm(type="number", ng-model="maxY")
        td
          input(type="checkbox", ng-model="discretePoints")

      table.table.table-hover
        tr
          td
            input.form-control.input-sm(type="number", ng-model="rateC")
          td
            input.form-control.input-sm(type="number", ng-model="rateA")
          td
            input.form-control.input-sm(type="number", ng-model="rateB")

      button.btn(type="button", ng-click="generateData()") Generate

.jumbotron
  #plot.jqplot-target(style="min-width: 600px; height: 400px; font-size: 10px;")

.jumbotron
  table.table.table-hover(style="text-align: left;")
    tr
      td
        h5 true positives: {{testResults.tp}}
      td
        h5 false positives: {{testResults.fp}}
      td
        h5 true negatives: {{testResults.tn}}
      td
        h5 false negatives: {{testResults.fn}}
    tr
      td
        h5 precision: {{testResults.precision.toFixed(5) * 100}}%
      td
        h5 recall: {{testResults.recall.toFixed(5)  * 100}}%
      td
        h5 specificity: {{testResults.specificity.toFixed(5)  * 100}}%
      td
        h5 sensitivity: {{testResults.sensitivity.toFixed(5)  * 100}}%
      td
        h5 accuracy: {{testResults.accuracy.toFixed(5)  * 100}}%

// .jumbotron
  #plotROC.jqplot-target(style="min-width: 600px; height: 400px; font-size: 15px;")
