h1 Neural Classifier
.row
  .jumbotron.col-md-4

    h3 Neurone
    table.table.table-hover
      th
        h5 nubmer of samples
      th
        h5 learning rate

      tr
        td
          input.form-control.input-sm(type="number", ng-model="samplesNumber")
        td
          input.form-control.input-sm(type="number", ng-model="learningRate")
        td
          button.btn(type="button", ng-click="train()") train

    h4 Number of iterations: {{iterationsCount}}

  .jumbotron.col-md-7.col-md-offset-1
    h3 Data
    table.table.table-hover
      th
        h5 points
      th
        h5 minX
      th
        h5 maxX
      th
        h5 minY
      th
        h5 maxY
      th
        h5 discrete

      tr
        td
          input.form-control.input-sm(type="number", ng-model="numberOfPoints")
        td
          input.form-control.input-sm(type="number", ng-model="minX")
        td
          input.form-control.input-sm(type="number", ng-model="maxX")
        td
          input.form-control.input-sm(type="number", ng-model="minY")
        td
          input.form-control.input-sm(type="number", ng-model="maxY")
        td
          input(type="checkbox", ng-model="discretePoints")

      table.table.table-hover
        tr
          td
            input.form-control.input-sm(type="number", ng-model="rateC")
          td
            input.form-control.input-sm(type="number", ng-model="rateA")
          td
            input.form-control.input-sm(type="number", ng-model="rateB")

      button.btn(type="button", ng-click="generateData()") Generate

.jumbotron
  #plot.jqplot-target(style="min-width: 600px; height: 400px; font-size: 15px;")
